* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.message-wrapper {
  margin: 0.5em;
  border-radius: 10px;
  background-color: lightpink;
}

.message-head {
  display: flex;
  padding: 0.5em 1em 0 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.message-head div:first-child {
  margin-right: 1em;
}

.message-message {
  padding: 0.5em 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}