* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wanteds-wrapper {
  overflow: auto;
  width: 100%;
  /* margin-left: 2em; */
  /* border: 4px solid green; */
  display: flex;
  flex-wrap: no-wrap;
}

.wanted {
  flex-shrink: 0;
  margin-right: 0.5em;
  height: 190px;
  width: 190px;
  border: 1px black solid;
  background-color: limegreen;
}

.wanted button {
  display: none;
}